body {
  background-image: url("../../Images/IMG_20180808_204400.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mainContainer {
  background-color: rgb(235, 235, 235);
  background-image: url("../../Images/IMG_20180808_204400.jpg");

  /* need to make this image work for mobile */

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.mainDisplay {
  background-color: rgba(248, 248, 248, 0.283);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 55vw;
  position: relative;
  z-index: 2;
  border-radius: 20px;
  padding-top: 20px;
}

.today {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  z-index: 5;
}

.city {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.forecast {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  z-index: 3;

  @media (max-width: 1400px) {
    display: none;
  }
  @media (max-height: 800px) {
    display: none;
  }
}

.poweredBy {
  position: absolute;
  bottom: 0;
  left: 78%;
  padding-bottom: 20px;
  text-align: left;
  width: 20%;
}
/* .poweredBy:hover {
  transform: scale(1.05);
} */



