.DetailWeatherCard {
  background-color: white;
  border-radius: 10px;
  width: 200px;
  margin: 20px;
  background-color: rgb(61, 60, 60);
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;  
}

