.weatherCard{
 background-color: white;
 border-radius: 10px;
 padding-bottom: 30px;
 padding-left: 30px;
 text-align: left;
 width: 150px;
 margin: 10px;
 background-color: rgb(65, 122, 253);
 color: white;
}

p{
 font-size: 1.2rem;
 
}

.dayHeading{
 font-size: 1.5rem;
 font-weight: bold;
}